
body {
	margin: 0;
	color: white;
	background-image: url('https://res.cloudinary.com/dna7c2j1e/image/upload/v1667699513/assets/Background_jilh5y.png');
	background-size: cover;
}


#map-container {
	background-color: #0a2256;
	width: 350px;
	height: 350px;
	transition: all 250ms ease;
}

.game-over{
	margin-top: 3.75rem;
	display:grid;
	place-items: center;
}

.App{
	width: max(90%, 85rem);
	margin: 4rem auto;
	display: flex;
	justify-content: space-around;
}

@media (max-width: 70rem) {
	.App{
		flex-direction: column;
	}
}
