/* light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f */

body {
	margin: 0;
	color: white;
	background-image: url('https://res.cloudinary.com/dna7c2j1e/image/upload/v1667699513/assets/Background_jilh5y.png');
	background-size: cover;
}

#map-container {
	background-color: #001B3E;
	width: 350px;
	height: 350px;
	transition: all 250ms ease;
	cursor: pointer;
}

.App{
	width: max(90%, 85rem);
	margin: 4rem auto;
	display: flex;
}

@media (max-width: 70rem) {
	.App{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
