/* light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f */

.game {
	display: flex;
}

.leftPanel {
	background-color: #152230;
	padding: 0 2rem;
	height: 100vh;
}

.gameNav{
	margin-top: 1rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-between;
}

.scoreNumber{
	margin-top: 1.25rem;
	font-size: 1.275rem;
	font-weight: 600;
	text-align: center;
}

.gameButton {

	display: block;
	margin: 1.5rem auto;
	font-size: 1.25rem;
	font-weight: 600;
	color: white;
	border: none;
	background: #ef404f;
	padding: 0.75rem 2em;
	transition: all ease 150ms;
}

.gameButton:enabled:hover{
	color: #152230;
	background: white;
}

.gameButton:disabled{
	opacity: 0.5;
}

.gameButton:enabled:active{
	color: white;
	background: #ef404f;
}

.buttonContainer{
	margin: 0;
	padding: 0;
	width: 2.5rem;
	border: 1px solid #ef404f;
	border-radius: 50%;
}

.helpButton {
	font-size: 1.75rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
	width: 2.5rem;
	border-radius: 50%;
	color: white;
	border: 3px solid white;
	background-color: #ef404f;
	cursor: pointer;
	transition: all ease 100ms;
}

.helpButton:hover{
	color: #ef404f;
	border: 3px solid #ef404f;
	background-color: white;
}

.helpButton:disabled{
	background-color: black;
}