/* 
	light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f
*/

.cardContainer {
	margin: 0 auto;
	width: min(90%,70.5rem);
	justify-content: space-around;
	display:flex;
	flex-direction: row;
}

.card {
	height: 17em;
	background-color: #001B3E;
	text-align: center;
}

.cardImage {
	min-width: 20rem;
	max-height: 12.5rem;
}

.imgContainer{
	position: relative;
	margin-bottom: 0.4375rem;
}

.mapTitle {
	font-size: 2rem;
	position: absolute;
	top:  0.25rem;
	left: 1rem;
	margin: 0;
}

.tutorialContainer{
	background-color: #152230;
	border: 2px solid #3ED3A8;
	width: 20rem;
}

.gameLink {
	font-size: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	color: #3ED3A8;
	background-color: #001B3E;
	padding: 0.5rem 4.25rem;
	border: 1px solid #3ED3A8;
	border-radius: 2rem;
	transition: all ease 200ms;
}

.gameLink:hover{
	color: #001B3E;
	background-color: #3ED3A8;
}