/* light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f */
.progress{
	margin: 1.5rem auto;
	position: relative;
	/* overflow: hidden; */
	width: 350px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid #3ED3A8;
}

.progressFill {
	width: 0;
	height: 100%;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3ED3A8;
	-webkit-transition: width 0.2s ease-in;
	-moz-transition: width 0.2s ease-in;
	-o-transition: width 0.2s ease-in;
	transition: width linear 0.5s;
}

.progressAmount{
	position: absolute;
	columns: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.score{
	font-weight: 700;
	position: absolute;
	left: 0.75rem;
	top: 50%;
	transform: translateY(-50%)
}

.total{
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%)
}
