/* light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f */
.progress{
	margin: 1.5rem auto;
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 10px;
	border-radius: 20px;
	border: 1px solid #3ED3A8;
}

.progressFill {
	width: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3ED3A8;
	transition: width 0.5s;
}

.progressAmount{
	position: absolute;
	columns: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}