/* light-blue: #3ED3A8
	darl-blue: #001B3E
	darker-blue: #152230
	red: #ef404f */

.tutorialImg > img{
	display: block;
	margin: 0.75rem auto;
	height: 25rem;
}

.title{
	margin: 0.75rem auto;
	width: min(15rem, 50%);
	text-align: center;
}
.list{
	margin: 0.75rem auto;
	width: 75%;
}